:root {

  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-100: hsl(0 0% 100%);

  --size-small: 0.25rem;
  --size-small-2: 0.5rem;
  --size-small-3: 0.75rem;
  --size-medium: 1rem;
  --size-medium-2: 1.5rem;
  --size-medium-3: 2rem;
  --size-large: 3rem;
  --size-large-2: 4rem;
  --size-large-3: 5rem;
  --size-xlarge: 6rem;
  --size-2xlarge: 7rem;
  --size-3xlarge: 8rem;

  --size-card-min-width: var(--size-large-3);
  --size-card-max-width: var(--size-3xlarge);
  --size-card-small: var(--size-large-3);
  --size-card-large: var(--size-3xlarge);

  --size-card-border-radius: 10%;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--clr-neutral-100);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  background-color: var(--clr-neutral-900);
}

.theater-header-container {
  margin: 1rem;
}

.theater-nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theater-nav-wrapper h1 {
  font-size: xx-large;
}

.characters-grid {
  display: grid;
  /*grid-template-columns: repeat(4, var(--size-card-min-width));*/
  grid-template-columns: repeat(auto-fill, min(var(--size-card-min-width)));
  gap: 0.75rem;
  justify-content: center;
}

.character-card {
  display: block;
  border-radius: var(--size-card-border-radius);
  padding: 0.5rem;
}

.character-card-button {
  text-align: center;
  width: var(--size-card-small);
  cursor: pointer;
  border-radius: var(--size-card-border-radius) var(--size-card-border-radius) 0 0;
  opacity: 100%;
}

.character-button-unselected {
  opacity: 50%;
}

.character-image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-card-small);
  height: var(--size-card-small);
  overflow: hidden;
  border-radius: var(--size-card-border-radius) var(--size-card-border-radius) 0 0;
}

.character-name-holder {
  width: var(--size-card-small);
  padding: .25rem .25rem;
  text-align: center;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #E9E5DC;
  color: black;
}

.default-image {
  width: 40%;
  height: 40%;
}

.options-container {
  display: grid;
  justify-items: center;
}

.characters-toggle-select-button {
  cursor: pointer;
  padding: .5rem;
  border-radius: var(--size-medium);
}

.elements-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

section {
  margin-top: var(--size-large);
  margin-bottom: var(--size-large);
}